@charset "UTF-8";

/* ---- all ---- */
* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.header {
    margin: 30px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.header .title {
    width: 240px;
    font-size: 30px;
    text-transform: uppercase;
    color: #b4b4b4;
    font-family: 'Rajdhani', sans-serif;
}

.header img {
    width: 100px;
}

.footer {
    width: 100%;
}

.footer img {
    height: 20px;
}

.footer .footer-title {
    color: white;
    font-size: 15px;
    height: 25px;
    padding: 0 0 0 7.5px;
    line-height: 27.5px;
    font-family: 'Viceroy Regular';
    text-transform: uppercase;
    background: linear-gradient(-45deg, transparent 25px, rgba(255, 255, 255, 0.5) 0);
}

.footer .footer-1 .footer-title {
    width: 100px;
}

.footer .footer-2 .footer-title {
    width: 160px;
}

.footer .footer-1 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 55%;
    float: left;
}

.footer .footer-2 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 45%;
    float: right;
}

.footer .footer-a {
    padding: 10px 0 0 10px;
    float: left;
}

/* ---- index + register ---- */
.index-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}

.index-form .index-title {
    color: white;
    font-size: 30px;
    text-align: center;
}

.index-form .index-title::before,
.index-form .index-title::after {
    content: " ";
    position: absolute;
    width: 70px;
    border-bottom: 1px solid white;
}

.index-form .index-title::before {
    margin: 20px 0 0 -80px;
}

.index-form .index-title::after {
    margin: 20px 0 0 10px;
}

.index-form .index-input p {
    margin: 25px 0;
}

.index-form .index-input label {
    color: white;
    font-size: 20px;
}

.index-form .index-input input {
    width: 99%;
    height: 30px;
    font-size: 20px;
}

.index-form .index-button {
    text-align: center;
    padding: 0 0 10px 0;
}

.index-form .index-button input {
    color: white;
    background-color: rgba(200, 200, 150, 0.75);
    border: 0;
    border-radius: 5px;
    width: 32%;
    height: 28px;
    font-size: 16px;
}

.index-form .index-button input:hover {
    color: gray;
    background-color: rgba(200, 200, 150, 1);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

/* ---- home ---- */
.home-section {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-section img {
    width: 100px;
}

.home-section .home-item {
    padding: 30px;
    margin: 25px 50px;
    width: 140px;
    height: 120px;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 50px;
}

.home-section .home-item:hover {
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
}

.home-section .home-item .home-title {
    margin: 10px 0 0 0;
    font-family: 'Kotori Rose Regular';
    text-transform: uppercase;
    color: white;
}

.home-section .home-item:hover .home-title {
    transition: all .3s ease-in-out;
    color: rgb(240, 230, 160);
}

/* ---- account + statistical ---- */
.item-section {

    margin: 0 30px;
}

.item-section .item-form {
    color: white;
    font-size: 18px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 5px;
    text-align: center;
}

.item-section .item-form span {
    display: inline-block;
    margin: 10px;
}

.item-section .item-form input,
.item-section .item-form select {
    border: 2px solid white;
    border-radius: 2px;
}

.item-section .item-head,
.item-section .item-head-total {
    margin: 30px 50px 0 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item-section .item-tail,
.item-section .item-tail-total {
    margin: 0 50px 30px 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item-section .item-head,
.item-section .item-tail,
.item-section .item-head-total,
.item-section .item-tail-total {
    background-color: rgb(35, 40, 55);
    border: 0;
    text-align: center;
}

.item-section .item-head table,
.item-section .item-tail table,
.item-section .item-head-total table,
.item-section .item-tail-total table {
    width: 100%;
    text-align: center;
    margin: auto;
}

.item-section .item-table,
.item-section .item-table-total {
    background-color: rgba(255, 255, 255, 0.75);
    height: 340px;
    margin: 0 50px;
    overflow-x: overlay;
    overflow-y: overlay;
}

.item-section .item-table table,
.item-section .item-table-total table {
    width: 100%;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

.item-section tr {
    color: white;
    text-align: center;
    font-size: 18px;
    height: 24px;
    border: 0;
}

.item-section .item-head th,
.item-section .item-tail th,
.item-section .item-table td {
    padding: 5px 0;
    width: 25%;
}

.item-section .item-head-total th,
.item-section .item-tail-total th,
.item-section .item-table-total td {
    padding: 5px 0;
    width: 20%;
}

.item-section .item-table tr:nth-child(even),
.item-section .item-table-total tr:nth-child(even) {
    background-color: rgb(60, 70, 90);
}

.item-section .item-table tr:nth-child(odd),
.item-section .item-table-total tr:nth-child(odd) {
    background-color: rgba(60, 70, 90, 0.75);
}

.item-section .item-under {
    margin: 30px 0;
    text-align: center;
}

.item-section .item-button {
    text-align: center;
}

.item-section .item-button input {
    color: white;
    background-color: rgba(60, 70, 90, 0.75);
    border: 0;
    border-radius: 5px;
    width: 75px;
    height: 28px;
    font-size: 16px;
}

.item-section .item-button input:hover {
    color: white;
    background-color: rgb(60, 70, 90);
    cursor: pointer;
}