@charset "UTF-8";

/* ---- all ---- */
body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.header {
    text-align: center;
    padding: 30px;
}

.header .title {
    font-size: 30px;
    text-transform: uppercase;
    color: #b4b4b4;
    font-family: 'Rajdhani', sans-serif;
}

.header img {
    width: 100px;
}

.footer {
    margin: 100px 0 0 0;
}

.footer img {
    height: 20px;
}

.footer .footer-title {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    height: 30px;
    padding: 0 0 0 7.5px;
    border: 0;
    border-radius: 0 0 30px 0;
    line-height: 32.5px;
}

.footer .footer-1 .footer-title {
    width: 80px;
}

.footer .footer-2 .footer-title {
    width: 110px;
}

.footer .footer-1,
.footer .footer-2 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    float: left;
}

.footer .footer-a {
    padding: 10px 0 0 10px;
    float: left;
}

/* ---- index + register ---- */
.index-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}

.index-form .index-title {
    color: white;
    font-size: 30px;
    text-align: center;
}

.index-form .index-title::before,
.index-form .index-title::after {
    content: " ";
    position: absolute;
    width: 70px;
    border-bottom: 1px solid white;
}

.index-form .index-title::before {
    margin: 20px 0 0 -80px;
}

.index-form .index-title::after {
    margin: 20px 0 0 10px;
}

.index-form .index-button {
    text-align: center;
    padding: 10px 0;
}

.index-form .index-button input {
    color: white;
    background-color: rgba(200, 200, 150, 0.75);
    border: 0;
    border-radius: 5px;
    width: 32%;
    height: 28px;
    font-size: 16px;
}

.index-form .index-button input:hover {
    color: gray;
    background-color: rgba(200, 200, 150, 1);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.index-form .index-input label {
    color: white;
    font-size: 20px;
}

.index-form .index-input input {
    width: 97%;
    height: 30px;
    font-size: 20px;
}

/* ---- register ---- */