@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

/* ---- all ---- */
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    text-align: center;
    padding: 50px;
}

.header .title {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.header img {
    width: 100px;
}

/* ---- index ---- */
.index-form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}

.index-form .index-title {
    color: white;
    font-size: 30px;
    text-align: center;
}

.index-form .index-title::before,
.index-form .index-title::after {
    content: " ";
    position: absolute;
    width: 70px;
    border-bottom: 1px solid white;
}

.index-form .index-title::before {
    margin: 20px 0 0 -80px;
}

.index-form .index-title::after {
    margin: 20px 0 0 10px;
}

.index-form .index-button {
    text-align: center;
    padding: 10px 0;
}

.index-form .index-button input {
    color: white;
    background-color: rgba(200, 200, 150, 0.75);
    border: 0;
    border-radius: 5px;
    width: 32%;
    height: 28px;
    font-size: 16px;
}

.index-form .index-button input:hover {
    color: gray;
    background-color: rgba(200, 200, 150, 1);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.index-form .index-input label {
    color: white;
    font-size: 20px;
}

.index-form .index-input input {
    width: 97%;
    height: 30px;
    font-size: 20px;
}