@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

@font-face {
    font-family: 'Cera Round Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Cera Round Pro Medium'), url('../webfonts/TypeMates\ \ CeraRoundProMedium.woff') format('woff');
}